body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #252525;
}

h1 {
    color: #9fb0ff;
    text-align: center;
    padding: 20px 0;
}

p {
    color: #baefff;
    text-align: center;
    padding: 10px 0;
}